<div class="container-fluid" id="subheader">
  <div class="row">
    <div class="col-md-3 text-left">
      <app-head-logo></app-head-logo>
    </div>
    <div class="col-md-6 text-center">
      <h1>Risk Management Rating Modificator</h1>
    </div>
    <div class="col-md-3 text-right">
      <button ngbTooltip="Logout" class="btn btn-primary" (click)="logout()">Logout</button>
      <p class="mt-5 mb-5">
        User name: {{userAccount?.name}}
        <br/>
        User role: {{userRole?.displayName}}
      </p>
      
    </div>
  </div>
</div>
