<ng-container *ngIf="content.type === 'newRecord'; else mock">

  <!-- <app-table-base></app-table-base> -->

  <!-- <mat-horizontal-stepper (selectionChange)="setIndex($event)" #stepper>

      <mat-step label="Step 1">
        <div class="container">
          <h2>Basic Table</h2>
          <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
          <table class="table">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span (click)="move(1)">John</span></td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-step>

      <mat-step label="Step 2">
        Step 2 content
        <span (click)="goBack(stepper)">go back</span>
      </mat-step>

      <mat-step label="Step 3">
        <span (click)="move(0)">You are now done.</span>
      </mat-step>

    </mat-horizontal-stepper> -->

  <mat-horizontal-stepper #stepper (selectionChange)="setIndex($event)"
    class="{{ 'last-edited-step-' + stepper.selectedIndex }}">
    <mat-step label="Select template record">

      <div class="dialog-wrapper">
        <header>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4>Select template record</h4>
            </div>
          </div>
        </header>
        <main>
          <app-table-base (newItemsEvent)="addItems($event)"></app-table-base>
        </main>
        <footer>
          <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>

            </div>
          </div>
        </footer>
      </div>


      <!-- <div class="mat-dialog-title"> -->
      <!-- <div class="row">
        <div class="col-md-12">
          <h4>Select template record</h4>
        </div>
      </div> -->
      <!-- </div> -->
      <!-- <div class="mat-dialog-content">
        <app-table-base (newItemsEvent)="addItems($event)"></app-table-base>
      </div> -->

      <!-- <div class="mat-dialog-actions"> -->

      <!-- <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 text-right">
          <button type="button" class="btn btn-default m-1" (click)="close()">Close</button>

        </div>
      </div> -->
      <!-- </div> -->

    </mat-step>
    <mat-step label="Complete record">
      <div class="dialog-wrapper">
        <header>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4>Complete record</h4>
            </div>
          </div>
        </header>

        <!-- <div class="mat-dialog-content"> -->
        <main>
          <app-table-base-extended [newRecords]="recordsNew" [submitCall]="triggerSubmit"
            (submitRecordsEvent)="submitRecordsEventParent($event)"></app-table-base-extended>
        </main>
        <!-- </div> -->
        <footer>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-success" type="button" (click)="move(0)">
                Previous step
              </button>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
              <button class="btn btn-success" type="button" (click)="submitRecord()">
                Submit record
              </button>
            </div>
          </div>
        </footer>
      </div>
    </mat-step>
    <mat-step label="Status record">
      <div class="dialog-wrapper">
        <header>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4>Status record</h4>
            </div>
          </div>
        </header>

        <!-- <div class="mat-dialog-content"> -->
        <main>
          <app-table-completed [completedRecords]="submittedRecords"></app-table-completed>
        </main>
        <!-- </div> -->

        <footer>
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
            </div>
          </div>
        </footer>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
    <button mat-raised-button color="accent" (click)="move(0)">1st</button>
    <button mat-raised-button color="accent" (click)="move(1)">2nd</button>
    <button mat-raised-button color="accent" (click)="move(2)">3rd</button>
  </div> -->

</ng-container>


<ng-template #mock>
  Mocked
</ng-template>
