$color1: #000000;
$color2: #6b6b6b;
$color3: #a8a8a8;
$color4: #dddddd;
$color5: #ececec;
$color6: #f8f8f8;
$color7: #ffffff;
$color15: #fef7f3;
$color8: #f7c8ae;
$color9: #ac194a;
$color10: #357089;
$color11: #3b3b3b;
$color-primary: #607d8a;
$color-primary-dark: #4b636e;
$color-primary-light: #a7c0cd;
$color-accent: #1aaa55;
$color-accent-light: #95ed13;
$color-accent-dark: #0f903b;

$bs-color-primary: #0074d9;
$bs-color-danger: #ff4136;
