@import "~src/assets/scss/colors";

html {
  scroll-behavior: smooth;
}

.non-click {
  pointer-events: none;
  touch-action: none;
  // * {
  //   pointer-events: none;
  //   touch-action: none;
  // }
}

.not-allowed {
  cursor: not-allowed !important;
  * {
    cursor: not-allowed !important;
  }
  mat-icon {
    cursor: not-allowed !important;
  }
}
