html {
  scroll-behavior: smooth;
}

.nonclick {
  pointer-events: none;
  touch-action: none;
}

.not-allowed {
  cursor: not-allowed;
  * {
    pointer-events: none;
    touch-action: none;
  }
  mat-icon {
    cursor: not-allowed;
  }
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fdfeff;
}

.btn-outline-secondary {
  max-height: 38px;
}
