<div class="container-fluid" id="table-records">
  <div class="row">
    <div class="col-md-12">

      <!-- <div class="d-none" id="confirmSelectionContainer">
        <button class="btn btn-primary" id="confirmSelection" (click)="showHideBtn(); d.close(); confirmSelection('model1','datumOd')" type="button">
          Confirm selection
        </button>
      </div> -->

      <!-- <div>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="enableLast()">enableLast</button>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="enableFirst()">enableFirst</button>
      </div> -->
      <!-- <div class="input-group month-picker">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model2" ngbDatepicker
          #d="ngbDatepicker" #c1="ngModel" (ngModelChange)="changeDate($event)" (dateSelect)="ds($event)"
          [markDisabled]="markDisabled" (change)="changeS($event)"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle(); showHideBtn()" type="button"></button>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
          <span class="mr-2" [ngClass]="{'not-allowed': recordsDiffArrObj}">
            <app-insert-new-btn (click)="insertNewRecord()" [ngClass]="{'non-click': recordsDiffArrObj}">
            </app-insert-new-btn>
          </span>
          <span [ngClass]="{'not-allowed': recordsDiffArrObj}"> Records
            <app-status-toggle-btn ngbTooltip="Click to switch active/inactive records"
              [ngClass]="{'non-click': recordsDiffArrObj}" [toggleBtnState]="toggleBtnState"
              (click)="activeInactiveToggle($event)">
            </app-status-toggle-btn>
          </span>
        </div>
      </div>

      <br />

      <!-- <div id="global-search" [ngClass]="{'not-allowed': recordsDiffArrObj}">
        <div class="input-group">
          <div class="input-group-prepend">
            <mat-icon class="input-group-text" id="search-addon">search</mat-icon>
          </div>
          <input [ngClass]="{'non-click': recordsDiffArrObj}" [(ngModel)]="globalFilter" type="text" class="form-control" id="globalSearch" (keyup)="globalSearch()"
            placeholder="Search" aria-label="Search" aria-describedby="search-addon">
          <span *ngIf="isSearching" class="spinner-border spinner-border-sm"></span>
        </div>
        <div class="filter-item">
          <button [ngClass]="{'non-click': recordsDiffArrObj}" class="btn btn-success" type="button" ngbTooltip="Reset filter" (click)="clearAllFilters()">
            Reset filter
          </button>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-1 pl-1 pr-1" id="opIco" [ngClass]="{'not-allowed': recordsDiffArrObj}">
              <span class='partial-search' [ngClass]="{'non-click': recordsDiffArrObj}">
                <input type="text" [(ngModel)]="searchFilter.opIco" [ngModelOptions]="{standalone: true}"
                  class="form-control">
              </span>
              <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}" (click)="sortByColumn('opIco')">OP/ico
                <mat-icon *ngIf="sortByCol?.opIco==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.opIco==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>

            </th>
            <th class="col-sm-2 pl-1 pr-1" id="obchodneMeno" [ngClass]="{'not-allowed':recordsDiffArrObj}">
              <span class='partial-search' [ngClass]="{'non-click': recordsDiffArrObj}">
                <input type="text" [(ngModel)]="searchFilter.obchodneMeno" [ngModelOptions]="{standalone: true}"
                  class="form-control">
              </span>
              <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                (click)="sortByColumn('obchodneMeno')">obchodne<br>meno
                <mat-icon *ngIf="sortByCol?.obchodneMeno==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.obchodneMeno==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>

            </th>
            <th class="col-sm-1 pl-1 pr-1" id="vypocitanyRating" [ngClass]="{'not-allowed':recordsDiffArrObj}">
              <span class='partial-search' [ngClass]="{'non-click': recordsDiffArrObj}">
                <!-- <input type="text" [(ngModel)]="searchFilter.vypocitanyRating"
                  [ngModelOptions]="{standalone: true}"
                  class="form-control"> -->
                <select class="form-control custom-select" [(ngModel)]="searchFilter.vypocitanyRating"
                  [ngModelOptions]="{standalone: true}">
                  <option value=""></option>
                  <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                </select>
              </span>
              <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}"
                (click)="sortByColumn('vypocitanyRating')">vypocitany<br>rating
                <mat-icon *ngIf="sortByCol?.vypocitanyRating==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.vypocitanyRating==='desc'" aria-label="down icon">arrow_drop_down
                </mat-icon>
              </span>

            </th>
            <th class="col-sm-1 pl-1 pr-1" id="manualnyRating" [ngClass]="{'not-allowed':recordsDiffArrObj}">
              <span class='partial-search' [ngClass]="{'non-click': recordsDiffArrObj}">
                <!-- <input type="text" [(ngModel)]="searchFilter.manualnyRating"
                  [ngModelOptions]="{standalone: true}"
                  class="form-control"> -->
                <select class="form-control custom-select" [(ngModel)]="searchFilter.manualnyRating"
                  [ngModelOptions]="{standalone: true}">
                  <option value=""></option>
                  <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                </select>
              </span>
              <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}"
                (click)="sortByColumn('manualnyRating')">manualny<br>rating
                <mat-icon *ngIf="sortByCol?.manualnyRating==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.manualnyRating==='desc'" aria-label="down icon">arrow_drop_down
                </mat-icon>
              </span>

            </th>
            <th class="col-sm-2 pl-1 pr-1" id="datumOd" [ngClass]="{'not-allowed':recordsDiffArrObj}">
              <span class="partial-search" [ngClass]="{'non-click': recordsDiffArrObj}">
                <!-- <input type="text" [(ngModel)]="searchFilter.datumOd" [ngModelOptions]="{standalone: true}"
                  class="form-control"> -->
                <div class="input-group">
                  <span class="pt-2">od: </span>
                  <input appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                    placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="searchFilter.odFrom" ngbDatepicker
                    #d1From="ngbDatepicker" #c1From="ngModel" (ngModelChange)="changeDate($event)"
                    (dateChange)="changeDate($event)" (dateSelect)="changeDate($event)"
                    [markDisabled]="markDisabled1"
                  />
                  <!-- <ng-template #t let-date let-focused="focused">
                      <span>ok
                      </span>
                    </ng-template> -->
                  <!-- <button class="btn btn-primary" (click)="d1.close(); confirmSelection('searchFilter','datumOd')" type="button">
                      Confirm selection
                    </button> -->
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="clearInput('odFrom')" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">clear</mat-icon>
                    </button>
                    <button class="btn btn-outline-secondary" (click)="d1From.toggle()" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="input-group mt-1">
                  <span class="pt-2">do: </span>
                  <input appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                    placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="searchFilter.odTo" ngbDatepicker
                    #d1To="ngbDatepicker" #c1To="ngModel" (ngModelChange)="changeDate($event)"
                    (dateChange)="changeDate($event)" (dateSelect)="changeDate($event)"
                    [markDisabled]="markDisabled2"
                  />

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="clearInput('odTo')" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">clear</mat-icon>
                    </button>
                    <button class="btn btn-outline-secondary" (click)="d1To.toggle()" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                    </button>
                  </div>
                </div>
              </span>
              <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}" (click)="sortByColumn('datumOd')">datum
                od
                <mat-icon *ngIf="sortByCol?.datumOd==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.datumOd==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>

            </th>
            <th class="col-sm-2 pl-1 pr-1" id="datumDo" [ngClass]="{'not-allowed':recordsDiffArrObj}">
              <span class='partial-search' [ngClass]="{'non-click': recordsDiffArrObj}">
                <!-- <input type="text" [(ngModel)]="searchFilter.do" [ngModelOptions]="{standalone: true}"
                  class="form-control"> -->
                <div class="input-group">
                  <span class="pt-2">od: </span>
                  <input appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                    placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="searchFilter.doFrom" ngbDatepicker
                    #d2From="ngbDatepicker" #c2From="ngModel" (ngModelChange)="changeDate($event)"
                    (change)="onDateSelection($event)"
                    [markDisabled]="markDisabled1"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="clearInput('doFrom')" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">clear</mat-icon>
                    </button>
                    <button class="btn btn-outline-secondary" (click)="d2From.toggle()" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                    </button>
                  </div>
                </div>

                <div class="input-group mt-1">
                  <span class="pt-2">do: </span>
                  <input appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                    placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="searchFilter.doTo" ngbDatepicker
                    #d2To="ngbDatepicker" #c2To="ngModel" (ngModelChange)="changeDate($event)"
                    (change)="onDateSelection($event)"
                    [markDisabled]="markDisabled2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="clearInput('doTo')" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">clear</mat-icon>
                    </button>
                    <button class="btn btn-outline-secondary" (click)="d2To.toggle()" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                    </button>
                  </div>
                </div>
              </span>
              <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}" (click)="sortByColumn('datumDo')">datum
                do
                <mat-icon *ngIf="sortByCol?.datumDo==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.datumDo==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>


            </th>
            <th class="col-sm-2 pl-1 pr-1" id="poznamka" [ngClass]="{'not-allowed':recordsDiffArrObj}">
              <span class='partial-search' [ngClass]="{'non-click': recordsDiffArrObj}">
                <input type="text" [(ngModel)]="searchFilter.poznamka" [ngModelOptions]="{standalone: true}"
                  class="form-control">
              </span>
              <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}"
                (click)="sortByColumn('poznamka')">poznamka
                <mat-icon *ngIf="sortByCol?.poznamka==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.poznamka==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>

            </th>
            <!-- <th class="col-sm-1" id="datumZmeny">
              <span class="th-link" (click)="sortByColumn('datumZmeny')">datum<br>zmeny
                <mat-icon *ngIf="sortByCol?.datumZmeny==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.datumZmeny==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>
            </th>
            <th class="col-sm-2" id="autorZmeny">
              <span class="th-link" (click)="sortByColumn('autorZmeny')">autor<br>zmeny
                <mat-icon *ngIf="sortByCol?.autorZmeny==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="sortByCol?.autorZmeny==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
              </span>
            </th> -->
            <th class="col-sm-1 pl-0 pr-0" id="action" [ngClass]="{'not-allowed': recordsDiffArrObj}">
              <span class='partial-search'>
                <button [ngClass]="{'non-click': recordsDiffArrObj}" class="btn btn-outline-secondary pl-1 pr-1"
                  (click)="clearInput('all')" type="button" ngbTooltip="Clear filter">
                  <mat-icon aria-label="material-icons-outlined" class="td-link">clear</mat-icon>
                </button>
                <button [ngClass]="{'non-click': recordsDiffArrObj}" class="btn btn-success pl-1 pr-1" type="button"
                  ngbTooltip="Search filter" (click)="triggerPartialFilters()">
                  Search
                </button>
              </span>
              <span>
                Action
              </span>

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of records; let i = index"
            [ngClass]="{'inactive': item?.status === 'INACTIVE', 'progress-removed': item?.progressStatus === 'DELETED', 'progress-changed': item?.progressStatus === 'CHANGED'}">
            <!-- 'non-click': item?.status === 'INACTIVE' , -->
            <td class="pl-1 pr-1">
              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.opIcoErrorRequired}">
                <input type="text" disabled [(ngModel)]="item.opIco" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('opIco', item)" class="form-control">
                <label *ngIf="item?.opIcoErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.opIco}}</span>
            </td>
            <td class="pl-1 pr-1">
              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.obchodneMenoErrorRequired}">
                <input type="text" disabled [(ngModel)]="item.obchodneMeno" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('obchodneMeno', item)" class="form-control">
                <label *ngIf="item?.obchodneMenoErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.obchodneMeno}}</span>
            </td>
            <td class="pl-1 pr-1">
              <span *ngIf="!item.read" class="record-edit"
                [ngClass]="{'required': item?.vypocitanyRatingErrorRequired}">
                <!-- <input type="text" disabled [(ngModel)]="item.vypocitanyRating" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('vypocitanyRating', item, i)" class="form-control"> -->
                <select class="form-control custom-select" [(ngModel)]="item.vypocitanyRating"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('vypocitanyRating', item)"
                  disabled>
                  <option value="" disabled>Vyberte vypocitany rating</option>
                  <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                </select>
                <label *ngIf="item?.vypocitanyRatingErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.vypocitanyRating}}</span>
            </td>
            <td class="pl-1 pr-1">
              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.manualnyRatingErrorRequired}">
                <!-- <input [disabled]="item?.status === 'INACTIVE'" type="text" [(ngModel)]="item.manualnyRating"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('manualnyRating', item, i)"
                  class="form-control"> -->
                <select class="form-control custom-select" [(ngModel)]="item.manualnyRating"
                  [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('manualnyRating', item)"
                  [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'">
                  <option value="" disabled>Vyberte manualny rating</option>
                  <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                </select>
                <label *ngIf="item?.manualnyRatingErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.manualnyRating}}</span>
            </td>

            <td class="pl-1 pr-1">

              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumOdErrorRequired}">
                <div class="input-group">
                  <input [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'"
                    appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                    placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.datumOd" ngbDatepicker #d="ngbDatepicker"
                    #c1="ngModel" (ngModelChange)="onInputChange('datumOd', item); changeDate($event)"
                    [markDisabled]="markDisabled1"
                  />
                  <div class="input-group-append">
                    <button
                      [ngClass]="{'non-click': (item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED')}"
                      class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                    </button>
                  </div>
                </div>
                <small *ngIf="item?.datumOdErrorRequired">Required<br /></small>
                <small *ngIf="item?.ErrorInterval">Od > Do !<br /></small>
                <small *ngIf="item?.ErrorMin">{{item.datumVytvoreniaPoslednejSnimky | date:"dd.MM.yyyy" }} >= datum od
                  !<br /></small>
              </span>

              <!-- <span *ngIf="!item.read" class="form-group record-edit" [ngClass]="{'required': item?.datumOdErrorRequired}">
                <div class="input-group">
                  <input type="text" [(ngModel)]="item.datumOd" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('datumOd', item, i)" class="form-control">

                </div>
                <label *ngIf="item?.datumOdErrorRequired">Required</label>
              </span> -->
              <span *ngIf="item.read">{{item.datumOd}}</span>
            </td>
            <td class="pl-1 pr-1">

              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumDoErrorRequired}">
                <div class="input-group">
                  <input [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'"
                    appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                    placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.datumDo" ngbDatepicker #d="ngbDatepicker"
                    #c2="ngModel" (ngModelChange)="onInputChange('datumDo', item); changeDate($event)"
                    [markDisabled]="markDisabled2"
                  />
                  <div class="input-group-append">
                    <button
                      [ngClass]="{'non-click': (item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED')}"
                      class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                    </button>
                  </div>
                </div>
                <small *ngIf="item?.datumDoErrorRequired">Required<br /></small>
                <small *ngIf="item?.ErrorInterval">datum do
                  < datum od !<br />
                </small>
                <!-- <div *ngIf="item.do.dirty && item.do.invalid">
                  <small class="form-text text-danger" *ngIf="item.do.errors.required">
                      Your birth date is required.
                  </small>
                  <small class="form-text text-danger" *ngIf="item.do.errors.ngbDate?.invalid">
                      Your birth date must be a valid date (Ex: yyyy-mm-dd).
                  </small>
                  <small class="form-text text-danger" *ngIf="item.do.errors.ngbDate?.requiredBefore || item.do.errors.ngbDate?.requiredAfter">
                      Your age must be between 18 and 100.
                  </small>
              </div> -->
              </span>

              <!-- <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumDoErrorRequired}">
                <input type="text" [(ngModel)]="item.datumDo" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('datumDo', item, i)" class="form-control">
                <label *ngIf="item?.datumDoErrorRequired">Required</label>
              </span> -->
              <span *ngIf="item.read">{{item.datumDo}}</span>
            </td>
            <td class="pl-1 pr-1">
              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.poznamkaErrorRequired}">
                <input [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'" type="text"
                  [(ngModel)]="item.poznamka" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('poznamka', item)" class="form-control">
                <label *ngIf="item?.poznamkaErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.poznamka}}</span>
            </td>
            <!-- <td>
              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumZmenyErrorRequired}" >
                <input type="text" [(ngModel)]="item.datumZmeny" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('datumZmeny', item, i)" class="form-control">
                <label *ngIf="item?.datumZmenyErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.datumZmeny}}</span>
            </td>
            <td>
              <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.autorZmenyErrorRequired}" >
                <input type="text" [(ngModel)]="item.autorZmeny" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('autorZmeny', item, i)" class="form-control">
                <label *ngIf="item?.autorZmenyErrorRequired">Required</label>
              </span>
              <span *ngIf="item.read">{{item.autorZmeny}}</span>
            </td> -->
            <td class="pl-1 pr-1">
              <!-- <span *ngIf="item.read" (click)="switchToEditMode(item)">
                <mat-icon aria-label="mode_edit" class="td-link">mode_edit</mat-icon>
              </span>
              <span *ngIf="!item.read" (click)="switchToReadMode(item)" [ngClass]="{
                'non-click':(item?.firstnameErrorRequired || item?.surnameErrorRequired || item?.ageErrorRequired)
              }">
                <mat-icon aria-label="edit_off" class="td-link">edit_off</mat-icon>
              </span> -->
              <span (click)="removeItem(item); onInputChange('', item)"
                [ngClass]="{'non-click': (item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED' || item?.progressStatus === 'CHANGED')}">
                <mat-icon aria-label="delete_forever" class="td-link ml-2" ngbTooltip="Remove record">delete_forever
                </mat-icon>
              </span>
              <span>
                <mat-icon [ngClass]="{'non-click': false}" aria-label="history" class="td-link ml-2"
                  (click)="showHistoryLog(item)" ngbTooltip="Show change log of record">history</mat-icon>
              </span>
              <span>
                <mat-icon [ngClass]="{'non-click': (item?.status === 'INACTIVE')}" aria-label="undo"
                  class="td-link ml-2" (click)="undoChange(item); onInputChange('', item)"
                  ngbTooltip="Undo changes of record">undo
                </mat-icon>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary"
        [disabled]="!recordsDiffArrObj || getRecordsDiffArrObjError(recordsDiffArrObj)" (click)="saveChanges()">Save
        changes</button>
      <!-- <button type="button" class="btn btn-info ml-2" [disabled]="!exportActive" (click)="exportToDwh()">Export to
        DWH</button> -->
    </div>
    <div class="col-md-8">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'not-allowed': recordsDiffArrObj}" *ngIf="activePage > 0">
          <span class="page-link" [ngClass]="{'non-click': recordsDiffArrObj}" (click)="previousPage()">Previous</span>
        </li>
        <li *ngFor="let itemP of pages; let i = index" class="page-item"
          [ngClass]="{'active': activePage === itemP-1, 'not-allowed': recordsDiffArrObj}">
          <span class="page-link" [ngClass]="{'non-click': recordsDiffArrObj}"
            (click)="jumpToPage(itemP-1)">{{itemP}}</span>
        </li>
        <li class="page-item" [ngClass]="{'not-allowed': recordsDiffArrObj}" *ngIf="activePage < totalPages.length - 1">
          <span class="page-link" [ngClass]="{'non-click': recordsDiffArrObj}" (click)="nextPage()">Next</span>
        </li>
      </ul>
    </div>
  </div>
</div>
