@import "~src/assets/scss/colors";

#table-records {
  #global-search {

    .input-group {
      max-width: 200px;
      float: left;

      .spinner-border {
        z-index: 10;
        position: absolute;
        bottom: 10px;
        right: 12px;
      }

      #search-addon {
        width: 45px;
        height: 100%;
      }
    }
    .filter-item {
      float: left;
    }
  }
  .th-link {
    cursor: pointer;
  }
  .td-link {
    cursor: pointer;
  }
  .pagination {
    float: right;
    .page-link {
      cursor: pointer;
    }
  }

  .record-edit {
    input, label {
      display:block;
      // max-width: 80px;
    }
    &.required {
      input {
        border: 1px solid $color9;
      }
      label, small {
        color: $color9;
      }
    }
  }

  .inactive {
    background-color: $color2;
    button {
      background-color: $color6;
    }
  }

  .progress-removed {
    background-color: $color4;
  }
  .progress-changed {
    background-color: $color6;
  }

  .partial-search {
    font-style: normal;
    font-weight: normal;

    button {
      padding-left: 0;
      padding-right: 0;
    }

    + span {
      // background-color: red;
      float: left;
      height: 50px;
      display: flex;
      align-items:  center; //flex-end;
      justify-content: center; //flex-end;
    }
  }
}

::ng-deep {
  ngb-datepicker-month {
    visibility: hidden;
    height: 80px;
  }
}


