@import "~src/assets/scss/colors";

#table-records {
  .table-extended {
    min-width: 1600px;
    thead {
      tr {
        th {
          display: inline-block;
          align-self: flex-end;
          border: 0;
        }
      }
    }
    .input-group-append {
      z-index: 0;
    }
  }
  #global-search {

    .input-group {
      max-width: 200px;
      float: left;

      .spinner-border {
        z-index: 10;
        position: absolute;
        bottom: 10px;
        right: 12px;
      }

      #search-addon {
        width: 45px;
        height: 100%;
      }
    }
    .filter-item {
      float: left;
    }
  }
  .th-link {
    cursor: pointer;
  }
  .td-link {
    cursor: pointer;
  }
  .pagination {
    float: right;
    .page-item {
      z-index: 0;
      .page-link {
        cursor: pointer;
      }
    }
  }

  .record-edit {
    input, label {
      display:block;
      // max-width: 80px;
    }
    &.required {
      input {
        border: 1px solid $color9;
      }
      label, small {
        color: $color9;
      }
    }
  }

  .inactive {
    background-color: $color2;
    button {
      background-color: $color6;
    }
  }
  .inactive-item {
    background-color: $color4;
  }

  .progress-removed {
    background-color: $color4;
  }
  .progress-changed {
    background-color: $color6;
  }

  .partial-search {
    display: block;
    font-style: normal;
    font-weight: normal;

    button {
      padding-left: 0;
      padding-right: 0;
    }

    + span {
      // background-color: red;
      float: left;
      height: 50px;
      display: flex;
      align-items:   flex-end; //center;
      justify-content: center; //flex-end;
    }
  }
}

// ::ng-deep {
//   .month-picker {
//     ngb-datepicker-month {
//       visibility: hidden;
//       height: 80px;
//     }
//   }
// }



