@import "~src/assets/scss/colors";

#table-records {
  #global-search {

    .input-group {
      max-width: 200px;
      float: left;

      .spinner-border {
        z-index: 10;
        position: absolute;
        bottom: 10px;
        right: 12px;
      }

      #search-addon {
        width: 45px;
        height: 100%;
      }
    }
    .filter-item {
      float: left;
    }
  }

  .tr-link {
    cursor: pointer;

    input, select {
      cursor: pointer;
    }
  }
  .th-link {
    cursor: pointer;
  }
  .td-link {
    cursor: pointer;
  }
  .pagination {
    float: right;
    .page-link {
      cursor: pointer;
    }
  }

  .record-edit {
    input, label {
      display:block;
      // max-width: 80px;
    }
    &.required {
      input {
        border: 1px solid $color9;
      }
      label, small {
        color: $color9;
      }
    }
  }

  .inactive {
    background-color: $color2;
    button {
      background-color: $color6;
    }
  }

  .progress-removed {
    background-color: $color4;
  }
  .progress-changed {
    background-color: $color6;
  }


  .table-wrapper-fixed-head {
    position: relative;
    thead {
      tr {
        th {
          display: inline-block;
          align-self: flex-end;
          border: 0;
        }
      }
    }
  }
  .table-wrapper {
    max-height: 50vh;
    width: 100%;
    // height: 100vw;
    overflow: auto;
    display:inline-block;
    // padding-right: 10px;

    .invisible {
      visibility: hidden;

      tr {
        visibility: collapse;
      }
      th {
        font-size: 0;
        padding: 0;
        height: 0;
      }
    }
  }

  .w-op {
    min-width: 15%;
    max-width: 15%;
  }
  .w-ico {
    min-width: 15%;
    max-width: 15%;
  }
  .w-obchodne-meno {
    min-width: 60%;
    max-width: 60%;
  }
  .w-vypocitany-rating {
    min-width: 100px;
    max-width: 100px;
  }

}


