<div class="container" id="table-records">
  <div class="row">
    <div class="col-md-12">

      <div id="global-search">
        <div class="input-group">
          <div class="input-group-prepend">
            <mat-icon class="input-group-text" id="search-addon">search</mat-icon>
          </div>
          <input [(ngModel)]="globalFilter" type="text" class="form-control" id="globalSearch" placeholder="Search"
            aria-label="Search" aria-describedby="search-addon"
            (keydown.enter)="globalFilter?.trim().length >= 3 && search()"
          >
          <span *ngIf="isSearching" class="spinner-border spinner-border-sm"></span>
        </div>
        <div class="filter-item">
          <!-- <button class="btn btn-success" type="button" ngbTooltip="Reset filter" (click)="clearAllFilters()">
            Reset filter
          </button> -->
          <button class="btn btn-success" type="button" ngbTooltip="Search" (click)="search()"
            [disabled]="globalFilter?.trim().length < 3">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="records?.length > 0">
    <div class="col-md-12">
      <div class="table-wrapper-fixed-head">
        <table class="table table-hover table-link">
          <thead>
            <tr>
              <!-- <th class="col-sm-4" id="opIco" [ngClass]="{'not-allowed': recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('opIco')">OP/ico
                  <mat-icon *ngIf="sortByCol?.opIco==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.opIco==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th> -->
              <th class="col-sm-2" id="op" [ngClass]="{'not-allowed': recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('op')">op
                  <mat-icon *ngIf="sortByCol?.op==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.op==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th>
              <th class="col-sm-2" id="ico" [ngClass]="{'not-allowed': recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('ico')">ico
                  <mat-icon *ngIf="sortByCol?.ico==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.ico==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th>
              <th class="col-sm-7" id="obchodneMeno" [ngClass]="{'not-allowed':recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('obchodneMeno')">obchodne meno
                  <mat-icon *ngIf="sortByCol?.obchodneMeno==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.obchodneMeno==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th>
              <th class="col-sm-1" id="vypocitanyRating" [ngClass]="{'not-allowed':recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}"
                  (click)="sortByColumn('vypocitanyRating')">vypocitany<br>rating
                  <mat-icon *ngIf="sortByCol?.vypocitanyRating==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.vypocitanyRating==='desc'" aria-label="down icon">arrow_drop_down
                  </mat-icon>
                </span>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-wrapper">
        <table class="table table-hover table-link">
          <thead class="invisible">
            <tr>
              <!-- <th class="col-sm-4" id="opIco" [ngClass]="{'not-allowed': recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('opIco')">OP/ico
                  <mat-icon *ngIf="sortByCol?.opIco==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.opIco==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th> -->
              <th class="col-sm-2" id="op" [ngClass]="{'not-allowed': recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('op')">op
                  <mat-icon *ngIf="sortByCol?.op==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.op==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th>
              <th class="col-sm-2" id="ico" [ngClass]="{'not-allowed': recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('ico')">ico
                  <mat-icon *ngIf="sortByCol?.ico==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.ico==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th>
              <th class="col-sm-7" id="obchodneMeno" [ngClass]="{'not-allowed':recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click': recordsDiffArrObj}"
                  (click)="sortByColumn('obchodneMeno')">obchodne meno
                  <mat-icon *ngIf="sortByCol?.obchodneMeno==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.obchodneMeno==='desc'" aria-label="down icon">arrow_drop_down</mat-icon>
                </span>
              </th>
              <th class="col-sm-1" id="vypocitanyRating" [ngClass]="{'not-allowed':recordsDiffArrObj}">
                <span class="th-link" [ngClass]="{'non-click':recordsDiffArrObj}"
                  (click)="sortByColumn('vypocitanyRating')">vypocitany<br>rating
                  <mat-icon *ngIf="sortByCol?.vypocitanyRating==='asc'" aria-label="up icon">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="sortByCol?.vypocitanyRating==='desc'" aria-label="down icon">arrow_drop_down
                  </mat-icon>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr (dblclick)="doubleClick(item)" (click)="singleClick($event)" *ngFor="let item of records; let i = index"
              class="tr-link"
              [ngClass]="{'inactive': item?.status === 'INACTIVE', 'progress-removed': item?.progressStatus === 'DELETED', 'progress-changed': item?.progressStatus === 'CHANGED'}">
              <!-- 'non-click': item?.status === 'INACTIVE' , -->
              <!-- <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.opIcoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.opIco" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('opIco', item)" class="form-control">
                  <label *ngIf="item?.opIcoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.opIco}}</span>
              </td> -->
              <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.opErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.op" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('op', item)" class="form-control">
                  <label *ngIf="item?.opErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.op}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.icoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.ico" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('ico', item)" class="form-control">
                  <label *ngIf="item?.icoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.ico}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.obchodneMenoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.obchodneMeno" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('obchodneMeno', item)" class="form-control">
                  <label *ngIf="item?.obchodneMenoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.obchodneMeno}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit"
                  [ngClass]="{'required': item?.vypocitanyRatingErrorRequired}">
                  <!-- <input type="text" disabled [(ngModel)]="item.vypocitanyRating" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="onInputChange('vypocitanyRating', item, i)" class="form-control"> -->
                  <select class="form-control custom-select" [(ngModel)]="item.vypocitanyRating"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('vypocitanyRating', item)"
                    disabled>
                    <option value="" disabled>Vyberte vypocitany rating</option>
                    <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                  </select>
                  <label *ngIf="item?.vypocitanyRatingErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.vypocitanyRating}}</span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="records?.length > 0">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'not-allowed': recordsDiffArrObj}" *ngIf="activePage > 0">
          <span class="page-link" [ngClass]="{'non-click': recordsDiffArrObj}" (click)="previousPage()">Previous</span>
        </li>
        <li *ngFor="let itemP of pages; let i = index" class="page-item"
          [ngClass]="{'active': activePage === itemP-1, 'not-allowed': recordsDiffArrObj}">
          <span class="page-link" [ngClass]="{'non-click': recordsDiffArrObj}"
            (click)="jumpToPage(itemP-1)">{{itemP}}</span>
        </li>
        <li class="page-item" [ngClass]="{'not-allowed': recordsDiffArrObj}" *ngIf="activePage < totalPages.length - 1">
          <span class="page-link" [ngClass]="{'non-click': recordsDiffArrObj}" (click)="nextPage()">Next</span>
        </li>
      </ul>
    </div>
  </div>
</div>
