
<app-spinner></app-spinner>
<app-toastr></app-toastr>

<a routerLink="page-not-found">Public page, page not found</a>
<a routerLink="records" *ngIf="isLoggedIn()">Restricted page, records</a>

<br/>
<button class="btn btn-primary" (click)="login()" *ngIf="!isLoggedIn()">Login</button>
<button class="btn btn-primary" (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
<div *ngIf="isLoggedIn()">
  you are loggedIn
</div>
<div *ngIf="!isLoggedIn()">
  you are not loggedIn
</div>

<p>
-----------------------------------------------------------------
</p>

<div id="page-content">
  <div class="container-fluid pmd-layout" role="main">
    <router-outlet></router-outlet>
  </div>
</div>
