@import "~src/assets/scss/colors";

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $color10;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $color10;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(56px);
      -ms-transform: translateX(56px);
      transform: translateX(56px);
    }
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color2;
    -webkit-transition: .2s;
    transition: .2s;


    &>.active {
      margin-left: 5px;
      margin-top: -1px;
      float: left;
      color: $color7;
    }

    &>.inactive {
      margin-right: 2px;
      margin-top: -1px;
      float: right;
      color: $color7;
    }


    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: $color7;
      -webkit-transition: .2s;
      transition: .2s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}













