<ng-container *ngIf="content.type === 'changeLog'; else newRecord">
  <h1 mat-dialog-title>
    <div class="row align-top">
      <div class="col-md-12">
        {{content?.title}}
      </div>
    </div>
  </h1>

  <mat-dialog-content class="mat-typography">

    <div *ngIf="content?.mode==='view'; then thenViewBlock else elseBlock"></div>

    <ng-template #thenViewBlock>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">

            <div>
              <p *ngFor="let item of content?.changeLog; let i = index">
                <spam>userId: {{item.userId}}</spam> |
                <span>name {{item.name}}</span> |
                <span>{{item.dateTime}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #elseBlock>
      <div>
        else block
      </div>
    </ng-template>


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default m-1" (click)="close()">Close</button>
      </div>
    </div>
  </mat-dialog-actions>


</ng-container>

<ng-template #newRecord>
  <ng-container *ngIf="content.type === 'newRecord'; else mock">



    <!-- <mat-horizontal-stepper (selectionChange)="setIndex($event)" #stepper>

      <mat-step label="Step 1">
        <div class="container">
          <h2>Basic Table</h2>
          <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
          <table class="table">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span (click)="move(1)">John</span></td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-step>

      <mat-step label="Step 2">
        Step 2 content
        <span (click)="goBack(stepper)">go back</span>
      </mat-step>

      <mat-step label="Step 3">
        <span (click)="move(0)">You are now done.</span>
      </mat-step>

    </mat-horizontal-stepper> -->

    <mat-horizontal-stepper #stepper (selectionChange)="setIndex($event)">
      <mat-step label="Step 1">
        Step 1
        </mat-step>
      <mat-step label="Step 2">
        Step 2
      </mat-step>
      <mat-step label="Step 3">
        Step 3
      </mat-step>
      <mat-step label="Step 4">
        Step 4
        </mat-step>
    </mat-horizontal-stepper>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
      <button mat-raised-button color="accent" (click)="move(0)">1st</button>
      <button mat-raised-button color="accent" (click)="move(1)">2nd</button>
      <button mat-raised-button color="accent" (click)="move(2)">3rd</button>
      <button mat-raised-button color="accent" (click)="move(3)">4th</button>
    </div>

  </ng-container>
</ng-template>

<ng-template #mock>
  Mocked
</ng-template>
