<ng-container *ngIf="content.type === 'changeLog'; else newRecord">
  <h1 mat-dialog-title>
    <div class="row align-top">
      <div class="col-md-12">
        {{content?.title}}
      </div>
    </div>
  </h1>

  <mat-dialog-content class="mat-typography">

    <div *ngIf="content?.mode==='view'; then thenViewBlock else elseBlock"></div>

    <ng-template #thenViewBlock>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">

            <div>
              <p *ngFor="let item of content?.changeLog; let i = index">
                <spam>userId: {{item.userId}}</spam> |
                <span>name {{item.name}}</span> |
                <span>{{item.dateTime}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #elseBlock>
      <div>
        else block
      </div>
    </ng-template>


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default m-1" (click)="close()">Close</button>
      </div>
    </div>
  </mat-dialog-actions>


</ng-container>

<ng-template #newRecord>
  <ng-container *ngIf="content.type === 'newRecord'; else mock">
    New record
  </ng-container>
</ng-template>

<ng-template #mock>
  Mocked
</ng-template>
