<ng-container *ngIf="content.type === 'changeLog'">
  <div class="dialog-wrapper">
    <header>
      <!-- <h1 mat-dialog-title>
        <div class="row align-top">
          <div class="col-md-12">
            {{content?.title}}
          </div>
        </div>
      </h1> -->
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{{content?.title}}</h4>
        </div>
      </div>
    </header>

    <!-- <mat-dialog-content class="mat-typography"> -->

    <main>
      <div *ngIf="content?.mode==='view'; then thenViewBlock else elseBlock"></div>

      <ng-template #thenViewBlock>
        <div class="content-wrapper">

          <div class="row">
            <div class="col-md-12">
              <div class="table-wrapper">
                <table class="table table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>OP/ico</th>
                      <th>obchodne meno</th>
                      <th>vypocitany rating</th>
                      <th>manualny rating</th>
                      <th>od</th>
                      <th>do</th>
                      <th>poznamka</th>
                      <th>typ zmeny</th>
                      <th>datum zmeny</th>
                      <th>autor zmeny</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of content?.changeLog; let i = index">
                      <td>
                        <!-- <span [ngClass]="{'item-changed': itemChanged(item?.modifiedColumns, 'opIco')}">{{item.opIco}}</span> -->
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'opIco'); else elseOpIco" class='item-changed'  [ngbTooltip]="currentValue(item?.modifiedColumns, 'opIco')">{{item.opIco}}</span>
                        <ng-template #elseOpIco><span>{{item.opIco}}</span></ng-template>
                      </td>
                      <td>
                        <!-- <span [ngClass]="{'item-changed': itemChanged(item?.modifiedColumns, 'obchodneMeno')}">{{item.obchodneMeno}}</span> -->
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'obchodneMeno'); else elseObchodneMeno" class='item-changed'  [ngbTooltip]="currentValue(item?.modifiedColumns, 'obchodneMeno')">{{item.obchodneMeno}}</span>
                        <ng-template #elseObchodneMeno><span>{{item.obchodneMeno}}</span></ng-template>
                      </td>
                      <td>
                        <!-- <span [ngClass]="{'item-changed': itemChanged(item?.modifiedColumns, 'vypocitanyRating')}">{{item.vypocitanyRating}}</span> -->
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'vypocitanyRating'); else elseVypocitanyRating" class='item-changed'  [ngbTooltip]="currentValue(item?.modifiedColumns, 'vypocitanyRating')">{{item.vypocitanyRating}}</span>
                        <ng-template #elseVypocitanyRating><span>{{item.vypocitanyRating}}</span></ng-template>
                      </td>
                      <td>
                        <!-- <span [ngClass]="{'item-changed': itemChanged(item?.modifiedColumns, 'manualnyRating')}">{{item.manualnyRating}}</span> -->
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'manualnyRating'); else elseManualnyRating" class='item-changed'  [ngbTooltip]="currentValue(item?.modifiedColumns, 'manualnyRating')">{{item.manualnyRating}}</span>
                        <ng-template #elseManualnyRating><span>{{item.manualnyRating}}</span></ng-template>
                      </td>
                      <td>
                        <!-- <span [ngClass]="{'item-changed': itemChanged(item?.modifiedColumns, 'datumOd')}">{{item.datumOd | date:"dd.MM.yyyy"}}</span> -->
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'datumOd'); else elseOd" class='item-changed'  [ngbTooltip]="dateFormat(currentValue(item?.modifiedColumns, 'datumOd'))">{{dateFormat(item.datumOd)}}</span>
                        <ng-template #elseOd><span>{{item.datumOd | date:"dd.MM.yyyy"}}</span></ng-template>
                      </td>
                      <td>
                        <!-- <span [ngClass]="{'item-changed': itemChanged(item?.modifiedColumns, 'datumDo')}">{{item.datumDo | date:"dd.MM.yyyy"}}</span> -->
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'datumDo'); else elseDo" class='item-changed'  [ngbTooltip]="dateFormat(currentValue(item?.modifiedColumns, 'datumDo'))">{{dateFormat(item.datumDo)}}</span>
                        <ng-template #elseDo><span>{{item.datumDo | date:"dd.MM.yyyy"}}</span></ng-template>
                      </td>
                      <td>
                        <span *ngIf="itemChanged(item?.modifiedColumns, 'poznamka'); else elsePoznamka" class='item-changed'  [ngbTooltip]="currentValue(item?.modifiedColumns, 'poznamka')">{{item.poznamka}}</span>
                        <ng-template #elsePoznamka><span>{{item.poznamka}}</span></ng-template>
                      </td>
                      <td>{{item.actionType}}</td>
                      <td>{{item.datumZmeny | date:"dd.MM.yyyy"}}</td>
                      <td>{{item.autorZmeny}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #elseBlock>
        <div>
          else block
        </div>
      </ng-template>


    </main>
    <!-- </mat-dialog-content> -->




    <!-- <mat-dialog-actions align="end"> -->
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
    <!-- </mat-dialog-actions> -->

  </div>

</ng-container>

<ng-container *ngIf="content.type === 'logout'">

  <div class="dialog-wrapper">
    <!-- <h1 mat-dialog-title> -->

    <header>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{{content?.title}}</h4>
        </div>
      </div>
    </header>
    <!-- </h1> -->

    <!-- <mat-dialog-content class="mat-typography"> -->
    <main>
      <div class="row">
        <div class="col-md-12 text-center">
          Some date are still unsaved, please complete work.
        </div>
      </div>
    </main>
    <!-- </mat-dialog-content> -->

    <!-- <mat-dialog-actions align="end"> -->
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
    <!-- </mat-dialog-actions> -->

  </div>
</ng-container>


<ng-container *ngIf="!content.type">
  <div class="dialog-wrapper">
    <header>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>Mocked</h4>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-md-12">
          Mocked
        </div>
      </div>
    </main>

    <footer>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
  </div>
</ng-container>
