<ng-container *ngIf="content.type === 'changeLog'">
  <div class="dialog-wrapper">
    <header>
      <!-- <h1 mat-dialog-title>
        <div class="row align-top">
          <div class="col-md-12">
            {{content?.title}}
          </div>
        </div>
      </h1> -->
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{{content?.title}}</h4>
        </div>
      </div>
    </header>

    <!-- <mat-dialog-content class="mat-typography"> -->

    <main>
      <div *ngIf="content?.mode==='view'; then thenViewBlock else elseBlock"></div>

      <ng-template #thenViewBlock>
        <div class="content-wrapper">

          <div class="row">
            <div class="col-md-12">
              <div class="table-wrapper">
                <table class="table table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>OP/ico</th>
                      <th>obchodne meno</th>
                      <th>vypocitany rating</th>
                      <th>manualny rating</th>
                      <th>od</th>
                      <th>do</th>
                      <th>poznamka</th>
                      <th>datum zmeny</th>
                      <th>autor zmeny</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of content?.changeLog; let i = index">
                      <td>{{item.opIco}}</td>
                      <td>{{item.obchodneMeno}}</td>
                      <td> {{item.vypocitanyRating}}</td>
                      <td>{{item.manualnyRating}}</td>
                      <td>{{item.od | date:"dd.MM.yyyy"}}</td>
                      <td>{{item.do | date:"dd.MM.yyyy"}}</td>
                      <td>{{item.poznamka}}</td>
                      <td>{{item.datumZmeny | date:"dd.MM.yyyy"}}</td>
                      <td>{{item.autorZmeny}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #elseBlock>
        <div>
          else block
        </div>
      </ng-template>


    </main>
    <!-- </mat-dialog-content> -->




    <!-- <mat-dialog-actions align="end"> -->
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
    <!-- </mat-dialog-actions> -->

  </div>

</ng-container>

<ng-container *ngIf="content.type === 'logout'">

  <div class="dialog-wrapper">
    <!-- <h1 mat-dialog-title> -->

    <header>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{{content?.title}}</h4>
        </div>
      </div>
    </header>
    <!-- </h1> -->

    <!-- <mat-dialog-content class="mat-typography"> -->
    <main>
      <div class="row">
        <div class="col-md-12 text-center">
          Some date are still unsaved, please complete work.
        </div>
      </div>
    </main>
    <!-- </mat-dialog-content> -->

    <!-- <mat-dialog-actions align="end"> -->
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
    <!-- </mat-dialog-actions> -->

  </div>
</ng-container>


<ng-container *ngIf="!content.type">
  <div class="dialog-wrapper">
    <header>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>Mocked</h4>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-md-12">
          Mocked
        </div>
      </div>
    </main>

    <footer>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
  </div>
</ng-container>
