<ng-container *ngIf="content.type === 'changeLog'">
  <div class="dialog-wrapper">
    <header>
      <!-- <h1 mat-dialog-title>
        <div class="row align-top">
          <div class="col-md-12">
            {{content?.title}}
          </div>
        </div>
      </h1> -->
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{{content?.title}}</h4>
        </div>
      </div>
    </header>

    <!-- <mat-dialog-content class="mat-typography"> -->

    <main>
      <div *ngIf="content?.mode==='view'; then thenViewBlock else elseBlock"></div>

      <ng-template #thenViewBlock>
        <div class="content-wrapper">





          <div class="row">
            <div class="col-md-12">
              <div class="table-wrapper">
                <table class="table table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>userId</th>
                      <th>referenceId</th>
                      <th>name</th>
                      <th>dateTime</th>
                      <th>actionType</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of content?.changeLog; let i = index">
                      <td>{{item.userId}}</td>
                      <td>{{item.recordIdExtended}}</td>
                      <td> {{item.name}}</td>
                      <td>{{item.dateTime}}</td>
                      <td>{{item.actionType}}
                        <br />
                        <table *ngIf="item.actionType==='edit'" class="table table-condensed">
                          <thead>
                            <th>columnName</th>
                            <th>previousContent</th>
                            <th>updatedContent</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let mi of item.modifiedColumns; let j = index">
                              <td>{{mi.columnName}}</td>
                              <td>{{mi.previousContent}}</td>
                              <td>{{mi.updatedContent}}</td>
                            </tr>

                            <!-- <div *ngIf="item.actionType==='edit'">

                          <div *ngFor="let mi of item.modifiedColumns; let j = index">
                            <span>columnName: {{mi.columnName}}</span> |
                            <span>previousContent: {{mi.previousContent}}</span> |
                            <span>updatedContent: {{mi.updatedContent}}</span>
                            <br/>
                          </div>
                        </div> -->


                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                    </tr>
                    <tr>
                      <td>July</td>
                      <td>Dooley</td>
                      <td>july@example.com</td>
                    </tr> -->

                  </tbody>
                </table>


                <!-- <div>
                <p *ngFor="let item of content?.changeLog; let i = index" class="border">
                  <spam>userId: {{item.userId}}</spam> |
                  <span>referenceId: {{item.recordIdExtended}}</span> |
                  <span>name: {{item.name}}</span> |
                  <span>dateTime: {{item.dateTime}}</span> |
                  <span>actionType: {{item.actionType}}</span>
                  <span *ngIf="item.actionType==='edit'"><br/>modifiedColumns:
                  <br/>
                  <span *ngFor="let mi of item.modifiedColumns; let j = index">
                    <span>columnName: {{mi.columnName}}</span> |
                    <span>previousContent: {{mi.previousContent}}</span> |
                    <span>updatedContent: {{mi.updatedContent}}</span>
                    <br/>
                  </span>
                  </span>
                </p>
              </div> -->

              </div>

            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #elseBlock>
        <div>
          else block
        </div>
      </ng-template>


    </main>
    <!-- </mat-dialog-content> -->




    <!-- <mat-dialog-actions align="end"> -->
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
    <!-- </mat-dialog-actions> -->

  </div>

</ng-container>

<ng-container *ngIf="content.type === 'logout'">

  <div class="dialog-wrapper">
    <!-- <h1 mat-dialog-title> -->

    <header>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{{content?.title}}</h4>
        </div>
      </div>
    </header>
    <!-- </h1> -->

    <!-- <mat-dialog-content class="mat-typography"> -->
    <main>
      <div class="row">
        <div class="col-md-12 text-center">
          Some date are still unsaved, please complete work.
        </div>
      </div>
    </main>
    <!-- </mat-dialog-content> -->

    <!-- <mat-dialog-actions align="end"> -->
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
    <!-- </mat-dialog-actions> -->

  </div>
</ng-container>


<ng-container *ngIf="!content.type">
  <div class="dialog-wrapper">
    <header>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>Mocked</h4>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div class="col-md-12">
          Mocked
        </div>
      </div>
    </main>

    <footer>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary m-1" (click)="close()">Close</button>
        </div>
      </div>
    </footer>
  </div>
</ng-container>
