#table-records {
  margin-left: 20px;
  margin-right: 20px;

  .table-base-extended {
    min-width: 1200px;
    thead {
      tr {
        th {
          display: inline-block;
          align-self: flex-end;
          border: 0;
        }
      }
    }
  }
  .table-wrapper {
    max-height: 50vh;
    width: 100%;
    // height: 100vw;
    overflow: auto;
    display:inline-block;
    // padding-right: 10px;

    .invisible {
      visibility: hidden;

      tr {
        visibility: collapse;
      }
      th {
        font-size: 0;
        padding: 0;
        height: 0;
      }
    }

    .word-breaked {
      td {
        word-break: break-all;
      }
    }
  }

  .new-records {
    min-height: 170px;
    // max-height: 50vh;
    width: 100%;
    // height: 100vw;
    // overflow: auto;
    display:inline-block;
    // padding-right: 10px;
  }

  .table-wrapper-fixed-head {
    position: relative;
    thead {
      tr {
        th {
          display: inline-block;
          align-self: flex-end;
          border: 0;
        }
      }
    }
  }

  .w-ico {
    // min-width: 10%;
    // max-width: 10%;
  }
  .w-op {
    // min-width: 10%;
    // max-width: 10%;
  }
  .w-obchodne-meno {
    min-width: 210px;
    max-width: 210px;
    // min-width: 15%;
    // max-width: 15%;
  }
  .w-manualny-rating,
  .w-vypocitany-rating {
    min-width: 100px;
    max-width: 100px;
  }
  .w-poznamka {
    min-width: 170px;
    max-width: 170px;
    // min-width: 15%;
    // max-width: 15%;
  }
  .w-datum-od,
  .w-datum-do {
    min-width: 165px;
    max-width: 165px;
  }
  .w-datum-poslednej-zmeny {
    min-width: 135px;
    max-width: 135px;
  }
}
