<!-- <p>
    {{itemRecordNew?.opIco}} | {{itemRecordNew?.obchodneMeno}} | {{itemRecordNew?.vypocitanyRating}}
</p> -->

<div class="container-fluid mx-0" id="table-records">

  <!-- <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker"
      #c1="ngModel" (ngModelChange)="changeDate($event)" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <div class="new-records">
        <table class="table">
          <thead>
            <tr class="d-flex">
              <!-- <th class="col-sm-2 pr-1 pl-1" id="opIco">
                <span>OP/ico</span>
              </th> -->
              <th class="col-sm-1 pr-1 pl-1" id="op">
                <span>op</span>
              </th>
              <th class="col-sm-1 pr-1 pl-1" id="ico">
                <span>ico</span>
              </th>
              <th class="col-sm-2 pr-1 pl-1" style="min-width: 230px; max-width: 230px;" id="obchodneMeno">
                <span>obchodne<br>meno</span>
              </th>
              <th class="col-sm-1 pr-1 pl-1" style="min-width: 100px; max-width: 100px;" id="vypocitanyRating">
                <span class="th-link">vypocitany<br>rating</span>
              </th>
              <th class="col-sm-1 pr-1 pl-1" style="min-width: 100px; max-width: 100px;" id="manualnyRating">
                <span>manualny<br>rating</span>
              </th>
              <th class="col-sm-2 pr-1 pl-1" style="min-width: 150px; max-width: 150px;" id="datumOd">
                <span>datum od</span>
              </th>
              <th class="col-sm-2 pr-1 pl-1" style="min-width: 150px; max-width: 150px;" id="datumDo">
                <span>datum do</span>
              </th>
              <th class="col-sm-1 pr-1 pl-1" style="min-width: 160px; max-width: 160px;" id="poznamka">
                <span>poznamka</span>
              </th>
              <th class="col-sm-1 pr-1 pl-1" style="min-width: 150px; max-width: 150px;" id="datumPoslednejZmeny">
                <span>datum poslednej zmeny</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records; let i = index" class="text-left d-flex"
              [ngClass]="{'inactive': item?.status === 'INACTIVE', 'progress-removed': item?.progressStatus === 'DELETED', 'progress-changed': item?.progressStatus === 'CHANGED'}">

              <!-- <td class="pr-1 pl-1">
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.opIcoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.opIco" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('opIco', item)" class="form-control">
                  <label *ngIf="item?.opIcoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.opIco}}</span>
              </td> -->
              <td class="col-sm-1 pr-1 pl-1">
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.opErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.op" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('op', item)" class="form-control">
                  <label *ngIf="item?.opErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.op}}</span>
              </td>
              <td class="col-sm-1 pr-1 pl-1">
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.icoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.ico" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('ico', item)" class="form-control">
                  <label *ngIf="item?.icoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.ico}}</span>
              </td>
              <td class="col-sm-2 pr-1 pl-1" style="min-width: 230px; max-width: 230px;">
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.obchodneMenoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.obchodneMeno" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('obchodneMeno', item)" class="form-control">
                  <label *ngIf="item?.obchodneMenoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.obchodneMeno}}</span>
              </td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 100px; max-width: 100px;">
                <span *ngIf="!item.read" class="record-edit"
                  [ngClass]="{'required': item?.vypocitanyRatingErrorRequired}">
                  <select class="form-control custom-select" [(ngModel)]="item.vypocitanyRating"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('vypocitanyRating', item)"
                    disabled>
                    <option value="" disabled>Vyberte vypocitany rating</option>
                    <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                  </select>
                  <label *ngIf="item?.vypocitanyRatingErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.vypocitanyRating}}</span>
              </td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 100px; max-width: 100px;">
                <span *ngIf="!item.read" class="record-edit"
                  [ngClass]="{'required': item?.manualnyRatingErrorRequired}">

                  <select class="form-control custom-select" [(ngModel)]="item.manualnyRating"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('manualnyRating', item)"
                    [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'">
                    <option value="" disabled>Vyberte manualny rating</option>
                    <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                  </select>
                  <small *ngIf="item?.manualnyRatingErrorRequired">Required</small>
                </span>
                <span *ngIf="item.read">{{item.manualnyRating}}</span>
              </td>

              <td class="col-sm-2 pr-1 pl-1" style="min-width: 150px; max-width: 150px;">

                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumOdErrorRequired}">
                  <div class="input-group">
                    <input [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'"
                      appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                      placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.datumOd" ngbDatepicker #d="ngbDatepicker"
                      #c1="ngModel" (ngModelChange)="onInputChange('datumOd', item); changeDate($event)"
                      [markDisabled]="markDisabled1"
                    />
                    <div class="input-group-append">
                      <button
                        [ngClass]="{'non-click': (item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED')}"
                        class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                      </button>
                    </div>
                  </div>
                  <small *ngIf="item?.datumOdErrorRequired">Required <br/></small>
                  <small *ngIf="item?.ErrorInterval">Od > Do !</small>
                </span>


                <span *ngIf="item.read">{{item.datumOd}}</span>
              </td>
              <td class="col-sm-2 pr-1 pl-1" style="min-width: 150px; max-width: 150px;">

                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumDoErrorRequired}">
                  <div class="input-group">
                    <input [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'"
                      appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                      placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.datumDo" ngbDatepicker #d="ngbDatepicker"
                      #c2="ngModel" (ngModelChange)="onInputChange('datumDo', item); changeDate($event)"
                      [markDisabled]="markDisabled2"
                    />
                    <div class="input-group-append">
                      <button
                        [ngClass]="{'non-click': (item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED')}"
                        class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                      </button>
                    </div>
                  </div>
                  <small *ngIf="item?.datumDoErrorRequired">Required<br/></small>
                  <small *ngIf="item?.ErrorInterval">datum do < datum od !</small>

                </span>

                <span *ngIf="item.read">{{item.datumDo}}</span>
              </td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 160px; max-width: 160px;">
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.poznamkaErrorRequired}">
                  <input [disabled]="item?.status === 'INACTIVE' || item?.progressStatus === 'DELETED'" type="text"
                    [(ngModel)]="item.poznamka" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('poznamka', item)" class="form-control">
                  <small *ngIf="item?.poznamkaErrorRequired">Required</small>
                </span>
                <span *ngIf="item.read">{{item.poznamka}}</span>
              </td>

              <td class="col-sm-1 pr-1 pl-1" style="min-width: 150px; max-width: 150px;">
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.datumPoslednejZmenyErrorRequired}">
                  <input disabled
                      appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                      placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.datumPoslednejZmeny" ngbDatepicker #d="ngbDatepicker"
                      #c3="ngModel" (ngModelChange)="onInputChange('datumPoslednejZmeny', item); changeDate($event)"
                    />
                  <small *ngIf="item?.datumPoslednejZmenyErrorRequired">Required</small>
                </span>
                <span *ngIf="item.read">{{item.datumPoslednejZmeny}}</span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="recordsBE?.length === 0" class="text-center">
        Current OP/ico is unique.
      </div>

      <div class="table-wrapper" *ngIf="recordsBE?.length > 0">
        <table class="table table-hover">
          <tbody class="word-breaked">
            <tr *ngFor="let item of recordsBE; let i = index" class="text-left d-flex">
              <!-- <td>{{item.opIco}}</td> -->
              <td class="col-sm-1 pr-1 pl-1">{{item.op}}</td>
              <td class="col-sm-1 pr-1 pl-1">{{item.ico}}</td>
              <td class="col-sm-2 pr-1 pl-1" style="min-width: 230px; max-width: 230px;">{{item.obchodneMeno}}</td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 100px; max-width: 110px;"> {{item.vypocitanyRating}}</td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 100px; max-width: 110px;">{{item.manualnyRating}}</td>
              <td class="col-sm-2 pr-1 pl-1" style="min-width: 150px; max-width: 150px;">{{item.datumOd | date:"dd.MM.yyyy" }}</td>
              <td class="col-sm-2 pr-1 pl-1" style="min-width: 150px; max-width: 150px;">{{item.datumDo | date:"dd.MM.yyyy" }}</td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 160px; max-width: 160px;">{{item.poznamka}}</td>
              <td class="col-sm-1 pr-1 pl-1" style="min-width: 150px; max-width: 150px;">{{item.datumPoslednejZmeny | date:"dd.MM.yyyy" }}</td>
            </tr>
          </tbody>
        </table>

      </div>



    </div>
  </div>

</div>
