<!-- <p>
    {{itemRecordNew?.opIco}} | {{itemRecordNew?.obchodneMeno}} | {{itemRecordNew?.vypocitanyRating}}
</p> -->

<div class="container" id="table-records">

  <!-- <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model1" ngbDatepicker #d="ngbDatepicker"
      #c1="ngModel" (ngModelChange)="changeDate($event)" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-1" id="opIco">
                <span>OP/ico</span>
              </th>
              <th class="col-sm-2" id="obchodneMeno">
                <span>obchodne<br>meno</span>
              </th>
              <th class="col-sm-1" id="vypocitanyRating">
                <span class="th-link">vypocitany<br>rating</span>
              </th>
              <th class="col-sm-1" id="manualnyRating">
                <span>manualny<br>rating</span>
              </th>
              <th class="col-sm-2" id="od">
                <span>od</span>
              </th>
              <th class="col-sm-2" id="do">
                <span>do</span>
              </th>
              <th class="col-sm-2" id="poznamka">
                <span>poznamka</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of records; let i = index"
              [ngClass]="{'inactive': item?.status === 'inactive', 'progress-removed': item?.progressStatus === 'removed', 'progress-changed': item?.progressStatus === 'changed'}">

              <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.opIcoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.opIco" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('opIco', item)" class="form-control">
                  <label *ngIf="item?.opIcoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.opIco}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.obchodneMenoErrorRequired}">
                  <input type="text" disabled [(ngModel)]="item.obchodneMeno" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('obchodneMeno', item)" class="form-control">
                  <label *ngIf="item?.obchodneMenoErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.obchodneMeno}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit"
                  [ngClass]="{'required': item?.vypocitanyRatingErrorRequired}">
                  <select class="form-control custom-select" [(ngModel)]="item.vypocitanyRating"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('vypocitanyRating', item)"
                    disabled>
                    <option value="" disabled>Vyberte vypocitany rating</option>
                    <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                  </select>
                  <label *ngIf="item?.vypocitanyRatingErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.vypocitanyRating}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit"
                  [ngClass]="{'required': item?.manualnyRatingErrorRequired}">

                  <select class="form-control custom-select" [(ngModel)]="item.manualnyRating"
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onInputChange('manualnyRating', item)"
                    [disabled]="item?.status === 'inactive' || item?.progressStatus === 'removed'">
                    <option value="" disabled>Vyberte manualny rating</option>
                    <option *ngFor="let itemV of ratingOptions" [ngValue]="itemV">{{itemV}}</option>
                  </select>
                  <label *ngIf="item?.manualnyRatingErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.manualnyRating}}</span>
              </td>

              <td>

                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.odErrorRequired}">
                  <div class="input-group">
                    <input [disabled]="item?.status === 'inactive' || item?.progressStatus === 'removed'"
                      appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                      placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.od" ngbDatepicker #d="ngbDatepicker"
                      #c1="ngModel" (ngModelChange)="onInputChange('od', item); changeDate($event)" />
                    <div class="input-group-append">
                      <button
                        [ngClass]="{'non-click': (item?.status === 'inactive' || item?.progressStatus === 'removed')}"
                        class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                      </button>
                    </div>
                  </div>
                  <small *ngIf="item?.odErrorRequired">Required </small>
                  <small *ngIf="item?.ErrorInterval">Od > Do !</small>
                </span>


                <span *ngIf="item.read">{{item.od}}</span>
              </td>
              <td>

                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.doErrorRequired}">
                  <div class="input-group">
                    <input [disabled]="item?.status === 'inactive' || item?.progressStatus === 'removed'"
                      appNgbDatepickerI18nTitle [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                      placeholder="DD.MM.YYYY" name="dp" [(ngModel)]="item.do" ngbDatepicker #d="ngbDatepicker"
                      #c2="ngModel" (ngModelChange)="onInputChange('do', item); changeDate($event)" />
                    <div class="input-group-append">
                      <button
                        [ngClass]="{'non-click': (item?.status === 'inactive' || item?.progressStatus === 'removed')}"
                        class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <mat-icon aria-label="material-icons-outlined" class="td-link">date_range</mat-icon>
                      </button>
                    </div>
                  </div>
                  <small *ngIf="item?.doErrorRequired">Required</small>
                  <small *ngIf="item?.ErrorInterval">Do < Od !</small>

                </span>

                <span *ngIf="item.read">{{item.do}}</span>
              </td>
              <td>
                <span *ngIf="!item.read" class="record-edit" [ngClass]="{'required': item?.poznamkaErrorRequired}">
                  <input [disabled]="item?.status === 'inactive' || item?.progressStatus === 'removed'" type="text"
                    [(ngModel)]="item.poznamka" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onInputChange('poznamka', item)" class="form-control">
                  <label *ngIf="item?.poznamkaErrorRequired">Required</label>
                </span>
                <span *ngIf="item.read">{{item.poznamka}}</span>
              </td>


            </tr>
          </tbody>
        </table>
      </div>


      <div class="table-wrapper">
        <table class="table table-hover table-condensed">
          <thead class="invisible">
            <tr>
              <th class="col-sm-1" id="opIco">
                <span>OP/ico</span>
              </th>
              <th class="col-sm-2" id="obchodneMeno">
                <span>obchodne<br>meno</span>
              </th>
              <th class="col-sm-1" id="vypocitanyRating">
                <span class="th-link">vypocitany<br>rating</span>
              </th>
              <th class="col-sm-1" id="manualnyRating">
                <span>manualny<br>rating</span>
              </th>
              <th class="col-sm-2" id="od">
                <span>od</span>
              </th>
              <th class="col-sm-2" id="do">
                <span>do</span>
              </th>
              <th class="col-sm-2" id="poznamka">
                <span>poznamka</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of recordsBE; let i = index">
              <td>{{item.opIco}}</td>
              <td>{{item.obchodneMeno}}</td>
              <td> {{item.vypocitanyRating}}</td>
              <td>{{item.manualnyRating}}</td>
              <td>{{item.od | date:"dd.MM.yyyy" }}</td>
              <td>{{item.do | date:"dd.MM.yyyy" }}</td>
              <td>{{item.poznamka}}</td>
            </tr>
          </tbody>
        </table>






      </div>



    </div>
  </div>

</div>
